.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
}

.search-button {
  background: lightseagreen;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0px 8px 8px 0px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
